In [1]:
import glob
import pandas

In [2]:
lst = sorted(glob.glob('./cold_stress_*.txt'))

In [3]:
data = []
for file in lst:
    with open(file, 'r') as infile:
        data.append(pandas.read_csv(infile))

In [4]:
avrg = data[0] + data[1] + data[2]

In [5]:
avrg = avrg.divide(3)

In [26]:
lst = ['[T]', 
       'rpoA_RNA', 'rpoB_RNA', 'rpoC_RNA', 'rpoD_RNA', 'rpoE_RNA', 
       'rpoH_RNA', 'rpoN_RNA', 'rpoS_RNA', 'fecI_RNA', 'fliA_RNA']
avrg[lst]

,[T],rpoA_RNA,rpoB_RNA,rpoC_RNA,rpoD_RNA,rpoE_RNA,rpoH_RNA,rpoN_RNA,rpoS_RNA,fecI_RNA,fliA_RNA
0,10.0,8.274951,10.596124,7.210341,6.851620,6.528912,8.264990,6.189025,5.316423,3.120450,12.304054
1,20.0,9.041547,12.288847,7.237719,6.708333,7.121860,7.821812,5.956855,5.141409,3.020152,12.627781
2,30.0,12.594710,13.415608,7.458413,6.901882,7.561797,8.058594,6.118452,5.558013,2.202277,11.628192
3,40.0,11.626855,11.991635,7.582401,6.931903,7.275367,7.727695,5.848441,5.587369,1.937657,12.872532
4,50.0,9.431705,13.869048,7.573967,6.841268,7.928765,7.621256,5.943349,5.798071,1.993364,12.218424
5,90.0,9.003034,12.348380,7.167122,6.509769,7.261923,7.432509,5.661722,5.960175,1.468701,13.084874

In [10]:
with open('./cold_stress_avrg.txt', 'w') as outfile:
    avrg[lst].to_csv(outfile, sep = ' ', index = False)

In [17]:
stdv = (data[0] - avrg)**2 + (data[1] - avrg)**2 + (data[2] - avrg)**2

In [18]:
stdv = stdv.divide(2)

In [19]:
stdv.columns = [ x + '_SD' for x in list(stdv.columns)]

In [27]:
lst = [ x + '_SD' for x in lst[1:] ]

In [28]:
with open('./cold_stress_stdv.txt', 'w') as outfile:
    stdv[lst].to_csv(outfile, sep = ' ', index = False)