In [1]:
import pandas
import numpy

In [2]:
with open('./testing wellek\'s test.xlsx', 'rb') as infile:
    data = pandas.read_excel(infile)

m = len(data.iloc[0:10, 1])
n = len(data.iloc[0:10, 2])

In [3]:
data.iloc[0:10, 1:6]

     Ai1    Ai2  Ai1-Ai2 Ai1/Ai2  Xi=log(Ai1/Ai2)
0  106.9  112.9     -6.0  0.9469         -0.05461
1  131.3  124.4      6.9  1.0555          0.05398
2   81.4   89.5     -8.1  0.9095          0.13695
3  154.7  134.9     19.8  1.1468          0.02643
4  111.2  108.3      2.9  1.0268         -0.09486
5   85.8   94.0     -8.2  0.9128         -0.09128
6  295.2  418.6   -123.4  0.7052         -0.34926
7  217.0  207.0     10.0  1.0483          0.04718
8  252.3  239.3     13.0  1.0543          0.05290
9  157.9  207.3    -49.4  0.7617         -0.27221

In [4]:
data.iloc[15:25, 1:6]

      Ai1    Ai2  Ai1-Ai2 Ai1/Ai2  Xi=log(Ai1/Ai2)
15  217.3  195.2     22.1  1.1132          0.10725
16  174.4  122.7     51.7  1.4214          0.35161
17  155.8  188.2    -32.4  0.8278         -0.18893
18  299.5  309.2     -9.7  0.9686         -0.03187
19  157.6  153.5      4.1  1.0267          0.02636
20  121.4  104.7     16.7  1.1595          0.14799
21  143.9  119.3     24.6  1.2062          0.18748
22  157.0  146.8     10.2  1.0695          0.06717
23  114.5  138.2    -23.7  0.8285         -0.18813
24   71.0   70.3      0.7    1.01          0.00991

In [5]:
y = 0
for xi in data.iloc[0:10, 1]:
    for xj in data.iloc[0:10, 2]:
        diff = (xi / xj)
#         print(diff)
        if diff > 1:
            y += 1

y = y/(m*n)
y

0.48

In [6]:
from scipy.special import comb

In [7]:
yFFG = 0
for xi1 in data.iloc[0:10 - 1, 1]:
    for xi2 in data.iloc[0 + 1:10, 1]:
        for yj in data.iloc[0:10, 2]:
            diff1 = (xi1 - yj)
            diff2 = (xi2 - yj)
            if diff1 > 0 and diff2 > 0:
                yFFG += 1

yFFG = comb(m,2)**-1 * (1/n) * yFFG
yFFG

0.5377777777777778

In [8]:
yFGG = 0
for xi in data.iloc[0:10, 1]:
    for yj1 in data.iloc[0:10 - 1, 2]:
        for yj2 in data.iloc[0 + 1:10, 2]:
            diff1 = (xi - yj1)
            diff2 = (xi - yj2)
            if diff1 > 0 and diff2 > 0:
                yFGG += 1

yFGG = (1/m) * comb(n,2)**-1 * yFGG
yFGG

0.6

In [9]:
sigma2 = (1/(m*n)) * (y - (m + n - 1) * y**2 + (m - 1) * yFFG + (n - 1) * yFGG)
sigma = sigma2**.5 
sigma

0.2518412198191551

In [10]:
# paper values
e1 = .3129
e2 = .2661

In [11]:
Z = abs(.33 - (.5 + (e2 - e1)/2)) / .11229
Z

1.3055481342951287

In [12]:
phi = (e1 + e2)/2 / .11229
phi

2.57814587229495

In [13]:
from scipy.stats.distributions import chi, chi2

In [14]:
Ca = chi2.ppf(q = 0.05, df = 1, loc = phi**2)**.5
Ca

2.5789083502194314