In [1]:
import pandas
import numpy

In [2]:
with open('./testing wellek\'s test.xlsx', 'rb') as infile:
    data = pandas.read_excel(infile)

m = len(data.iloc[0:10, 1])
n = len(data.iloc[0:10, 2])

In [68]:
data.iloc[0:10, 1:6]

     Ai1    Ai2  Ai1-Ai2 Ai1/Ai2  Xi=log(Ai1/Ai2)
0  106.9  112.9     -6.0  0.9469         -0.05461
1  131.3  124.4      6.9  1.0555          0.05398
2   81.4   89.5     -8.1  0.9095          0.13695
3  154.7  134.9     19.8  1.1468          0.02643
4  111.2  108.3      2.9  1.0268         -0.09486
5   85.8   94.0     -8.2  0.9128         -0.09128
6  295.2  418.6   -123.4  0.7052         -0.34926
7  217.0  207.0     10.0  1.0483          0.04718
8  252.3  239.3     13.0  1.0543          0.05290
9  157.9  207.3    -49.4  0.7617         -0.27221

In [55]:
a, b = numpy.shape(data.iloc[0:10, 1:6].values)
a, b

(10, 5)

In [71]:
data.iloc[0:10, 1:6].values.reshape((1,50))[0]

106.9
112.9
-6.0
0.9469
-0.05461
131.3
124.4
6.90000000000001
1.0555
0.05398
81.4
89.5
-8.09999999999999
0.9095
0.13695
154.7
134.9
19.8
1.1468
0.02643
111.2
108.3
2.90000000000001
1.0268
-0.09486
85.8
94.0
-8.2
0.9128
-0.09128
295.2
418.6
-123.4
0.7052
-0.34926
217.0
207.0
10.0
1.0483
0.04718
252.3
239.3
13.0
1.0543
0.0529
157.9
207.3
-49.4
0.7617
-0.27221

In [5]:
n = data.iloc[15:25, 1:6].reset_index(drop = True)
n

     Ai1    Ai2  Ai1-Ai2 Ai1/Ai2  Xi=log(Ai1/Ai2)
0  217.3  195.2     22.1  1.1132          0.10725
1  174.4  122.7     51.7  1.4214          0.35161
2  155.8  188.2    -32.4  0.8278         -0.18893
3  299.5  309.2     -9.7  0.9686         -0.03187
4  157.6  153.5      4.1  1.0267          0.02636
5  121.4  104.7     16.7  1.1595          0.14799
6  143.9  119.3     24.6  1.2062          0.18748
7  157.0  146.8     10.2  1.0695          0.06717
8  114.5  138.2    -23.7  0.8285         -0.18813
9   71.0   70.3      0.7    1.01          0.00991

In [6]:
y = 0
for xi in data.iloc[0:10, 1]:
    for xj in data.iloc[0:10, 2]:
        diff = (xi - xj)
        print(numpy.sign(diff))
        if diff > 0:
            y += 1

y = y/(m*n)
y

-1.0
-1.0
1.0
-1.0
-1.0
1.0
-1.0
-1.0
-1.0
-1.0
1.0
1.0
1.0
-1.0
1.0
1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
1.0
1.0
1.0
1.0
1.0
1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
1.0
-1.0
1.0
1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
1.0
1.0
1.0
1.0
1.0
1.0
-1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
-1.0
1.0
-1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
-1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
-1.0
-1.0
-1.0
-1.0

        Ai1       Ai2   Ai1-Ai2  Ai1/Ai2  Xi=log(Ai1/Ai2)
0  0.022089  0.024590  0.217195  4.31189        44.755245
1  0.027523  0.039120  0.092843  3.37695        13.651489
2  0.030809  0.025505 -0.148148   5.7985       -25.406235
3  0.016027  0.015524 -0.494845  4.95561      -150.611861
4  0.030457  0.031270  1.170732  4.67517       182.094082
5  0.039539  0.045845  0.287425  4.13972        32.434624
6  0.033356  0.040235  0.195122  3.97944        25.602731
7  0.030573  0.032698  0.470588  4.48808        71.460473
8  0.041921  0.034732 -0.202532   5.7936       -25.514272
9  0.067606  0.068279  6.857143  4.75248       484.359233

In [7]:
from scipy.special import comb

In [8]:
yFFG = 0
for xi1 in data.iloc[0:10 - 1, 1]:
    for xi2 in data.iloc[0 + 1:10, 1]:
        for yj in data.iloc[0:10, 2]:
            diff1 = (xi1 - yj)
            diff2 = (xi2 - yj)
            if diff1 > 0 and diff2 > 0:
                yFFG += 1

yFFG = comb(m,2)**-1 * (1/n) * yFFG
yFFG

        Ai1       Ai2   Ai1-Ai2  Ai1/Ai2  Xi=log(Ai1/Ai2)
0  0.024748  0.027550  0.243338  4.83092        50.142450
1  0.030836  0.043829  0.104019  3.78344        15.294724
2  0.034517  0.028575 -0.165981  6.49647       -28.464393
3  0.017956  0.017393 -0.554410  5.55211      -168.741066
4  0.034123  0.035034  1.311653  5.23793       204.012814
5  0.044298  0.051364  0.322023  4.63801        36.338792
6  0.037372  0.045078  0.218609  4.45845        28.684541
7  0.034253  0.036633  0.527233  5.02831        80.062197
8  0.046967  0.038913 -0.226910  6.49098       -28.585434
9  0.075743  0.076498  7.682540  5.32453       542.661733

In [9]:
yFGG = 0
for xi in data.iloc[0:10, 1]:
    for yj1 in data.iloc[0:10 - 1, 2]:
        for yj2 in data.iloc[0 + 1:10, 2]:
            diff1 = (xi - yj1)
            diff2 = (xi - yj2)
            if diff1 > 0 and diff2 > 0:
                yFGG += 1

yFGG = (1/m) * comb(n,2)**-1 * yFGG
yFGG

TypeError: ufunc 'binom' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [ ]:
sigma2 = (1/(m*n)) * (y - (m + n - 1) * y**2 + (m - 1) * yFFG + (n - 1) * yFGG)
sigma = sigma2**.5 
sigma

In [ ]:
# paper values
e1 = .3129
e2 = .2661

In [ ]:
Z = abs(.33 - (.5 + (e2 - e1)/2)) / .11229
Z

In [ ]:
phi = (e1 + e2)/2 / .11229
phi

In [11]:
from scipy.stats.distributions import chi, chi2

In [12]:
Ca = chi2.ppf(q = 0.05, df = 1, loc = phi**2)**.5
Ca

NameError: name 'phi' is not defined

In [ ]:
Ca = chi2.ppf(q = 0.05, df = 1, loc = [[1,2],[2,2]])**.5
Ca

In [13]:
Ca = chi2.ppf(q = 0.05, df = 1, loc = pandas.DataFrame(data = [[1,2],[2,2]])**2)**.5
pandas.DataFrame(data = Ca)

          0         1
0  1.001964  2.000983
1  2.000983  2.000983

In [14]:
# q1=cinv(.95,3);7.8147279033
Ca = chi2.ppf(q = 0.95, df = 3)
print(Ca)
# a2=cinv(.95,3.5,4.5);7.504582117
Ca = chi2.ppf(q = 0.95, df = 3.5, loc = 4.5)
print(Ca)

7.814727903251179
13.165121760590482

In [15]:
chi2.ppf?

In [16]:
pandas.DataFrame(data = [[1,2],[2,2]])

   0  1
0  1  2
1  2  2

In [17]:
abs(pandas.DataFrame(data = [[1,2],[2,-2]]))

   0  1
0  1  2
1  2  2

In [25]:
chi.ppf(q = 0.95, df = 1, loc = 5, scale = .2)

5.391992796908011

In [28]:
import rpy2
import rpy2.robjects as robjects
from rpy2.robjects.packages import importr

In [34]:
base = importr('base')
utils = importr('utils')
stats = importr('stats')

In [45]:
a = stats.qchisq([0.05,0.05],[1,1],[5,2])
a

R[write to console]: Error in (function (p, df, ncp = 0, lower.tail = TRUE, log.p = FALSE)  :
  Non-numeric argument to mathematical function

RRuntimeError: Error in (function (p, df, ncp = 0, lower.tail = TRUE, log.p = FALSE)  :
  Non-numeric argument to mathematical function

In [75]:
a = numpy.asarray([0.05,0.05])

In [76]:
a.reshape((2,1))

array([[0.05],
       [0.05]])